In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
df_test = pd.DataFrame()

In [4]:
df_test['mix'] = ['a', 'b', 1, True]

In [5]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [6]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\lecce\AppData\Local\Temp\ipykernel_16532\1786467950.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [7]:
df_test['mix'] = df_test['mix'].astype('str')

In [8]:
file_path = r'C:\Users\lecce\OneDrive\Achievement 4 - Python\02 Data\og data'

In [9]:
df_prods = pd.read_csv(r'C:\Users\lecce\OneDrive\Desktop\Achievement 4 - Python\02 Data\og data\products.csv')

In [10]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [11]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [12]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [13]:
df_prods.dropna(inplace = True)

In [14]:
df_prods.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [15]:
df_types = df_prods.dtypes

In [16]:
data_types = df_prods.dtypes

In [17]:
print(data_types)

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [18]:
print("Fixed data types:")
print(df_prods.dtypes)

Fixed data types:
product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [39]:
#df_ords['product_name'] = df_prods['product_name'].astype(str)

In [41]:
print(df_prods)

       product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices
0            61             19     5.8
1           104             13     9.3
2            94              7     4.5
3            38              1    10.5
4             5             13     4.3
...         ...            ...     ...
49688       124              5     5.3
49689        42              1     3.1
49690       112              3     7.8
49691        41              8     4.7
49692        73             11    13.5

[49677 rows x 5 columns]

In [43]:
duplicates_all = df_prods[df_prods.duplicated()]

In [45]:
print("Duplicate rows based on all columns:")
print(duplicates_all)

Duplicate rows based on all columns:
       product_id                                       product_name  \
462           462                  Fiber 4g Gummy Dietary Supplement
18459       18458                                         Ranger IPA
26810       26808               Black House Coffee Roasty Stout Beer
35309       35306  Gluten Free Organic Peanut Butter & Chocolate ...
35495       35491                            Adore Forever Body Wash

       aisle_id  department_id  prices
462          70             11     4.8
18459        27              5     9.2
26810        27              5    13.4
35309       121             14     6.8
35495       127             11     9.9

In [47]:
duplicates_specific = df_prods[df_prods.duplicated(subset=['product_name'], keep=False)]

In [49]:
print("Duplicate rows based on specific columns (product_name):")
print(duplicates_specific)

Duplicate rows based on specific columns (product_name):
       product_id                                       product_name  \
461           462                  Fiber 4g Gummy Dietary Supplement
462           462                  Fiber 4g Gummy Dietary Supplement
18458       18458                                         Ranger IPA
18459       18458                                         Ranger IPA
26809       26808               Black House Coffee Roasty Stout Beer
26810       26808               Black House Coffee Roasty Stout Beer
35308       35306  Gluten Free Organic Peanut Butter & Chocolate ...
35309       35306  Gluten Free Organic Peanut Butter & Chocolate ...
35494       35491                            Adore Forever Body Wash
35495       35491                            Adore Forever Body Wash

       aisle_id  department_id  prices
461          70             11     4.8
462          70             11     4.8
18458        27              5     9.2
18459        27              5     9.2
26809        27              5    13.4
26810        27              5    13.4
35308       121             14     6.8
35309       121             14     6.8
35494       127             11     9.9
35495       127             11     9.9

In [51]:
df_prods.drop_duplicates(inplace=True)

In [53]:
print("DataFrame shape after dropping duplicates:", df_prods.shape)

DataFrame shape after dropping duplicates: (49672, 5)

In [55]:
duplicate_count = df_prods.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 0

In [57]:
file_path = r'C:\Users\lecce\OneDrive\Achievement 4 - Python\02 Data\og data'

In [59]:
df_ords = pd.read_csv(r'C:\Users\lecce\OneDrive\Achievement 4 - Python\02 Data\prepared data\orders_wrangled.csv')

In [60]:

print(df_ords.head())  # Display the first few rows to verify data

   Unnamed: 0  order_id  user_id eval_set  order_number  orders_day_of_week  \
0           0   2539329        1    prior             1                   2
1           1   2398795        1    prior             2                   3
2           2    473747        1    prior             3                   3
3           3   2254736        1    prior             4                   4
4           4    431534        1    prior             5                   4

   order_hour_of_day  days_since_prior_order  orders_hour_of_day
0                  8                     NaN                   8
1                  7                    15.0                   7
2                 12                    21.0                  12
3                  7                    29.0                   7
4                 15                    28.0                  15

In [63]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
orders_hour_of_day             0
dtype: int64

In [65]:
data_types = df_ords.dtypes

In [67]:
print(data_types)

Unnamed: 0                  int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
orders_hour_of_day          int64
dtype: object

In [69]:
mixed_type_columns = data_types[data_types == 'object']

if not mixed_type_columns.empty:
    print("Columns with mixed types:")
    print(mixed_type_columns)
else:
    print("No columns with mixed types found.")

Columns with mixed types:
eval_set    object
dtype: object

In [71]:
df_ords['eval_set'] = df_ords['eval_set'].astype(str)

In [73]:
print("Fixed data types:")
print(df_ords.dtypes)

Fixed data types:
Unnamed: 0                  int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
orders_hour_of_day          int64
dtype: object

In [75]:
df_ords['eval_set'] = df_ords['eval_set'].astype(str)

In [77]:
print("Fixed data types:")
print(df_ords.dtypes)

Fixed data types:
Unnamed: 0                  int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
orders_hour_of_day          int64
dtype: object

In [79]:
unique_values = df_ords['eval_set'].unique()
print("Unique values in 'eval_set':")
print(unique_values)

Unique values in 'eval_set':
['prior' 'train' 'test']

In [81]:
df_ords['eval_set'] = pd.Categorical(df_ords['eval_set'], categories=['prior', 'train', 'test'], ordered=False)

In [83]:
print("Fixed data types:")
print(df_ords.dtypes)

Fixed data types:
Unnamed: 0                   int64
order_id                     int64
user_id                      int64
eval_set                  category
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
orders_hour_of_day           int64
dtype: object

In [85]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
orders_hour_of_day             0
dtype: int64

In [87]:
df_nan = df_ords[df_ords['order_id'].isnull() == True]

In [89]:
df_nan

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, orders_hour_of_day]
Index: []

In [93]:
df_nan = df_ords[df_ords['user_id'].isnull() == True]

In [95]:
df_nan

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, orders_hour_of_day]
Index: []

In [97]:
missing_user_ids = df_ords['user_id'].isnull().sum()
print("Number of missing user_ids:", missing_user_ids)

# Check if any rows have missing 'user_id'
if missing_user_ids > 0:
    df_nan = df_ords[df_ords['user_id'].isnull()]
    print("DataFrame 'df_nan' containing rows with missing user_id:")
    print(df_nan)
else:
    print("No rows with missing user_id found.")

Number of missing user_ids: 0
No rows with missing user_id found.

In [99]:
df_dups = df_ords[df_ords.duplicated()]

In [100]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, orders_hour_of_day]
Index: []

In [103]:
# Find duplicates based on specific columns
duplicates_specific = df_ords[df_ords.duplicated(subset=['order_id', 'user_id'], keep=False)]

# Print the duplicate rows
print("Duplicate rows based on specific columns (order_id and user_id):")
print(duplicates_specific)

Duplicate rows based on specific columns (order_id and user_id):
Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, orders_hour_of_day]
Index: []

In [105]:
# Drop duplicates based on all columns (keeping the first occurrence)
df_ords.drop_duplicates(inplace=True)

# Verify the shape of the DataFrame after dropping duplicates
print("DataFrame shape after dropping duplicates:", df_ords.shape)

DataFrame shape after dropping duplicates: (3421083, 9)

In [106]:
# Count the number of duplicates based on all columns, double checking that there is no duplicates
duplicate_count = df_ords.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 0

In [109]:
path = r'C:\Users\lecce\OneDrive\Achievement 4 - Python\02 Data\prepared data'

In [111]:
df_prods.to_csv(os.path.join(path, 'prods_wrangled.csv'))

In [113]:
df_ords.to_csv(os.path.join(path, '4.5orders_wrangled.csv'))